:root {
    --text-color: #fcfcf2;
    --card-front-color: #ff69b4;
    --card-back-color: #7e0737;
}

body {
    background-color: #d83979;
    font-family: "EB Garamond";
}

#container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 2rem;
}

.cartão {
    margin: 1rem 1rem;
    height: 15rem;
    flex-grow: 1;
    flex-basis: calc(33% - 6rem);
    width: 300px;
  padding: 15px;
  background-color: #ee6ba2cb;
  border: 1px solid #ee6ba2cb;
  border-radius: 15px; /* Bordas arredondadas */
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  font-family: Arial, sans-serif;
}

.cartão__conteudo {
    background-color: var(--card-front-color);
    text-align: center;
    /*background-color: palevioletred;*/
    height: 100%;
    transform-style: preserve-3d;
    transition: transform 780ms ease-in-out;
}

.cartão__conteudo h3 {
    color: var(--text-color);
    border: 2px solid var(--text-color);
    text-align: left;
    padding: 1rem;
    position: absolute;
    margin: 0.6rem;
    border-radius: 1.8rem;
    font-size: 0.8vw;
    backface-visibility: hidden;
}

.cartão__conteudo p {
    margin-top: 1rem;
    padding: 2rem;
    margin-top: 2rem;
}

.cartão__conteudo__pergunta p {
    color: var(--text-color);
    font-weight: 500;
    position: absolute;
    height: 90%;
    width: 85%;
    margin-top: 4rem;
}

.cartão__conteudo__resposta p {
    color: var(--card-back-color);
    font-weight: 700;
}

.cartão:hover .cartão__conteudo {
    transform: rotateY(180deg);
}

.cartão__conteudo__pergunta,
.cartão__conteudo__resposta{
    backface-visibility: hidden;
    position:absolute;
    height: 100%;
    width: 100%;
    margin-top: 2rem;
}

.cartão__conteudo__resposta {
    transform: rotateY(180deg);
}

footer {
    background-color:#ff69b4;
    color: #ffffff;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 1.8rem;
}

footer p {
    text-align: center;
    font-size: 0.8rem;
    margin-top: 0.5rem;
}

