:root {
    --text-color: #f8f8f7;
    --card-front-color: #d83979;
    --card-back-color: #f594d0;
}

body {
    background-image: url('img/bg-desktop.webp');
    font-family: "EB Garamond";
}

#container {
    display: flex;
}

.cartão {
    margin: 1rem 1rem;
    height: 15rem;
    flex-grow: 1;
    flex-basis: calc(33% - 6rem);
}

.cartão__conteudo {
    background-color: var(--card-front-color);
    text-align: center;
    /*background-color: palevioletred;*/
    height: 100%;
    transform-style: preserve-3d;
    transition: transform 300ms ease-in-out;
}

.cartão__conteudo h3 {
    color: var(--text-color);
    border: 2px solid var(--text-color);
    text-align: left;
    padding: 0.8rem;
    position: absolute;
    margin: 0.6rem;
    border-radius: 1.8rem;
    font-size: 0.8vw;
}

.cartão__conteudo p {
    margin-top: 1rem;
    padding: 2rem;
}

.cartao__conteudo__pergunta p {
    color: var(--text-color);
    font-weight: 600;
}

.cartão__conteudo__resposta p {
    color: var(--card-back-color);
    font-weight: 800;
}

.cartão:hover .cartão__conteudo {
    transform: rotateY('180deg');
}

footer {
    background-color:hotpink;
    color: white;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 1.8rem;
}

footer p {
    text-align: center;
    font-size: 0.8rem;
    margin-top: 0.5rem;
}

